@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// いいねボタン
.like-btn {
  width: 15px;
  height: 15px;
  font-size: 15px;
  color: grey;
  text-align: left;
}

.unlike-btn {
  width: 15px;
  height: 15px;
  font-size: 15px;
  color: red;
  text-align: left;
}

// 画像サイズ
img {
  border-radius: 50%;
}

// トップ画ボタン
.top-buttons {
  margin: 5px;
}

// ページネーション
.pagination {
  height: 100px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.pagination a {
background-color: blue;
text-decoration: none;
}

.pagination>.active>a {     
background: #93c9ff;     /*背景の色を変える*/
}

.pagination * {
color: white;
margin: 0 7px;
text-decoration: none;
padding: 12.5px 18.5px;
border-radius: 25px;
font-family: 'Nunito', sans-serif;
}
