@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
共通部分
*/

// ページ全体の色
body {
  background-color: #FFFFF0;
}

// navbarドロップダウンメニュー
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.wrapper{
  min-height: 100vh;
  position: relative;
}

// フッター
footer{
  position: absolute;
  bottom: 0;
}

/*
トップページ
*/

.toppage-eyecatch {
  text-align: center;
  margin: 70px;
}

.eyecatch-postbutton {
  margin: 5px;
}

.toppage-genrebuttons {
  height: 120px;
  width: 120px;
  margin: 20px;
}

/*
投稿一覧
*/

// いいね付与時
.unlike-btn {
  width: 15px;
  height: 15px;
  font-size: 15px;
  color: #e54747;
}

// いいね解除時
.like-btn {
  width: 15px;
  height: 15px;
  font-size: 15px;
  color: #808080;
}

// 投稿カードのヘッダ情報(投稿時間・ジャンル・いいねボタン)
.post-header-right {
  float: right;
  text-align: right;
}

/*
投稿・会員登録フォーム
*/

// ヘッダとの距離(タイトルないため)
.panel {
  margin: 50px;
}

// ヘッダー
.panel-heading {
  border: solid 1px #DDDDDD;
  border-bottom: transparent;
  background-color: whitesmoke;
  padding: 10px;
}

// ボディ
.panel-body{
  padding: 10px;
  border: solid 1px #DDDDDD;
  background-color: whitesmoke;
}

// アップロード画像表示
.imagePreview {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
  display: inline-block;
}

// 統計情報
.card-chart {
  margin: 10px;
}

// 使い方
.howtouse_images {
  text-align: center;
}