@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body{
  background-color: #FFFFF0;
}

nav {
  background-color: #FFFFF0;
}

button {
  padding: 0px;
}

// いいねボタン
.like-btn {
  width: 15px;
  height: 15px;
  font-size: 15px;
  color: grey;
  text-align: left;
}

.unlike-btn {
  width: 15px;
  height: 15px;
  font-size: 15px;
  color: red;
  text-align: left;
}

// トップ画ボタン
.top-buttons {
  margin: 5px;
}

// ページネーション
.pagination {
  height: 100px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.pagination a {
background-color: blue;
text-decoration: none;
}

.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
}

.pagination * {
color: white;
margin: 0 7px;
text-decoration: none;
padding: 12.5px 18.5px;
border-radius: 25px;
font-family: 'Nunito', sans-serif;
}

.topic {
  text-align: center;
  margin: 100px;
}

.nav-link {
  margin: 5px;
}

.nav-item {
  margin: 5px;
}

.panel {
  margin: 50px;
}

.panel-heading {
  border: solid 1px #DDDDDD;
  border-bottom: transparent;
  background-color: whitesmoke;
  padding: 10px;
}

.panel-body{
  padding: 10px;
  border: solid 1px #DDDDDD;
  background-color: whitesmoke;
}

.card {
  max-width: 100%;
  flex-shrink:0;
}